body {
  background-color: white;
  font: 1rem sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.page-header {
  display: flex;
  width: 100%;
  background-color: #006b09;
  border-bottom: 5px solid #07b148;
  color: white;
  padding: 1px 5px;
  line-height: 1rem;
}

.page-content {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

main {
  flex: 3;
  border: dashed 0.1rem #006b09;
  border-radius: 15px;
  box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
  padding: 10px;
}

aside {
  flex: 1;
  border: dashed 0.1rem #006b09;
  border-radius: 15px;
  box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
  padding: 10px;
}

.section-header {
  color: black;
  border-bottom: 5px solid #07b148;
  font-size: 1rem;
  line-height: 1.3rem;
}

button-delete {
  background-color: #cf3a15;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 1em 0.5em;
  padding: 10px;
  line-height: 1em;
}

button-archive {
  background-color: #A3AE9E;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 1em 0.5em;
  padding: 10px;
  line-height: 1em;
}

input {
  border: none;
  border-bottom: 2px solid #40493B;
  width: 100%;
  box-sizing: border-box;
  font: 0.7em sans-serif;
  line-height: 1.5em;
}

textarea {
  border: 2px solid #40493B;
  width: 100%;
  box-sizing: border-box;
  font: 0.7em sans-serif;
  line-height: 1.5em;
}

.form-element {
  margin: 1em 0.5em;
}

.button-create {
  background-color: #006b09;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 1em 0.5em;
  padding: 10px;
  line-height: 1em;
}

.button-create:focus {
  background-color: #07b148;
}